@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pension Management</h1>

    <a href = "SubmitPensionDetails" > Process Pension Here </a>
</div>
